button{
    background-color: rgb(5, 0, 82);
    color: yellow;
    padding: 10px 20px;
    border: 5px solid  rgb(247, 189, 0) ;
    border-radius: 50px;
    transition: all 500ms ;
}
button:hover{
    background-color: rgb(4, 4, 5);
    border: 5px solid rgb(247, 0, 225);
    color: white ; 
    transform: rotate(-180deg);
    box-shadow: 10px 10px 15px yellow;
} 

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.loop{
    animation: loop 30s ;
}
@keyframes loop {
    
    to{
        transform: scale(100000px);
    }
}
.messi{
    width: 500px;
    height: 500px;
    padding: 10px;
background-image: url(https://media.tycsports.com/files/2023/02/10/532928/lionel-messi_1440x810_wmk.webp);

}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}